{% extends 'base.html' %}

{% block content %}
    <div class="min-h-screen py-12">
        <div class="max-w-4xl mx-auto px-4">
            <h1 class="text-4xl font-bold text-gray-800 mb-8 text-center">
                Players
            </h1>

            <div class="font-bold text-gray-800 mb-8 text-center">
                <form action="" method="get">
                    <label>
                        <input class="text-center" name="player_search"
                               type="text"
                               placeholder="Search players">
                    </label>
                </form>
            </div>

            {% if not latest_player_list %}
                <div class="card-base text-center">
                    No recent players, check back soon.
                </div>
            {% else %}
                <div class="grid md:grid-cols-3 gap-8">
                    {% for player in latest_player_list %}
                        <div class="card-base">
                            <ul>
                                <li>{{ player }}</li>
                                <li>{{ player.preferred_game }}</li>
                                <li>{{ player.user.date_joined }}</li>
                                <li><a href="{{ player.id }}"
                                       class="btn btn-primary">View</a></li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}