{% extends 'base.html' %}

{% block content %}
    <div class="min-h-screen py-12">
        <div class="max-w-4xl mx-auto px-4">
            <h1 class="text-4xl font-bold text-gray-800 mb-8 text-center">
                Events
            </h1>

            <div class="font-bold text-gray-800 mb-8 text-center">
                <form action="{% url 'events:search_results' %}" method="get">
                    <label>
                        <input class="text-center" name="event_search"
                               type="text"
                               placeholder="Search events">
                    </label>
                </form>
            </div>

            {% if not latest_events_list %}
                <div class="card-base text-center">
                    No current events, check back soon.
                </div>
            {% else %}
                <div class="grid md:grid-cols-3 gap-8">
                {% for event in latest_events_list %}
                    <div class="card-base">
                        <ul>
                            <li class="font-semibold">{{ event.game_name }}</li>
                            <li>{{ event.start_time }}
                                thru {{ event.end_time }}</li>
                            <li>{{ event.rules }}</li>
                        </ul>
                        <a href="{{ event.id }}"
                           class="btn btn-primary text-left">View</a>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}