<!-- theme/templates/base.html -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}tcg-example{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% block extra_css %}{% endblock %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
{% block body %}
    <div class="container mx-auto">
        {% block header %}
            <span class="flex items-center justify-center">
                <a href="{% url 'store' %}" class="btn btn-primary">Store</a>
                <a href="{% url 'events:events' %}" class="btn btn-primary">Events</a>
                <a href="{% url 'players:players' %}" class="btn btn-primary">Players</a>
            </span>
        {% endblock %}

        {% block content %}
            <section class="flex items-center justify-center h-screen">
                <h1 class="text-5xl">Django + Tailwind = <3</h1>
            </section>
        {% endblock %}

        {% block footer %}
            <div class="text-center text-gray-500 text-sm mt-12">
                &#169; 2025 James Kuny
            </div>
        {% endblock %}
    </div>
{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>